


.main-container {
    margin: 50px 500px auto 500px;
}

.searchbox {
    height: 35px;
    width: 810px;
}

.searchbutton {
    height: 40px;
    width: 40px;
}

/* .searchbutton img {
    height: 20px;
    width: 20px;
} */

h3 {
    color: #9958cd;
}

.playbutton {
    /* background-color: #9958cd; */
    /* border: none; */
    height: 50px;
    width: 50px;
}

.playicon {
    height: 40px;
    width: 40px;
}

.word {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ps {
    width: 100%; 
    border-bottom: 1px dotted #3f3f3f; 
    line-height: 0.1rem;
}

.ps span {
    background: #fff;
    padding: 0 15px 0 0;
}

.pos-container {
    margin-top: 50px;
}

.meaning {
    margin-top: 25px;
    color: #747474;
}

.list {
    padding-top: 10px;
}

.synonym {
    display: flex;
    /* align-items: stretch; */
}

.synon-p1 {
    margin-right: 25px;
    color: #747474;
}

.synon-p2 {
    padding-right: 15px;
    color: #9958cd;
    font-weight: bold;
}

.source-div {
    margin-top: 60px;
    font-size: small;
}

.source-div p {
    color: #747474;
}

a {
    padding-left: 20px;
    color: #484848;
    
}
